{% extends "template.html" %} {% block body %}
<div class="container-xxl p-2">
    <h1 class="m-2">Active Adventures</h1>

    <table class="table table-dark table-striped table-bordered table-hover mb-0">
        <thead>
            <tr>
                <th scope="col">Adventure</th>
                <th scope="col">Tier</th>
                <th scope="col">DM's</th>
                <th scope="col">Players</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="adventure-table-body"></tbody> 
    </table>
</div>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='src/adventures/main.js') }}" type="module"></script>

{% endblock %}