<nav class="navbar navbar-dark bg-dark position-absoulte p-2">

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

      <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='images/Guild_Star.png') }}"
             width="70"
             height="auto"
             alt="Broken Prophecy">
    </a>


    <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="/">
          <img src="{{ url_for('static', filename='/images/Guild_Star.png') }}"
               width="70"
               height="auto"
               alt="Broken Prophecy">
        </a>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/server_stats">Server Statistics</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ProphetBot
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="/">New Player Guide</a></li>
              <li><a class="dropdown-item" href="/commands">Command List</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>