{% extends "template.html" %} {% block body %}

<h1 class="m-2">Administrator's Menu</h1>

<form method="get">
    <div class="row mb-3">
        <div class="col-sm-3 m-3">
            <a href="{{ url_for('admin.item_list') }}" class="btn btn-primary btn-lg btn-block m-2" role="button">Add/Modify Items</a>

            <a href="{{ url_for('admin.admin_races') }}" class="btn btn-primary btn-lg btn-block m-2" role="button">Add/Modify Races</a>

            <a href="{{ url_for('admin.admin_classes') }}" class="btn btn-primary btn-lg btn-block m-2" role="button">Add/Modify Classes</a>

            <a href="{{ url_for('admin.admin_message') }}" class="btn btn-primary btn-lg btn-block m-2" role="button">Send messages</a>
        </div>
    </div>

    <div class="row mb-3">
        <div clss="col-auto">
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger m-2" role="button">Logout</a>
        </div>
    </div>
</form>

{% endblock %}