h1{
    font-family: verdana;
    margin-left: 15px;
    color: white;
    text-align: center;
}

h2,
h3,
h4,
ul,
p {
    font-family: verdana;
    margin-left: 15px;
    color: white;
}

.nav-item{
    font-size: 120%;
}

body{
    display: inline;
    font-family: verdana;
    background-color: #2C2F33;
}

.mask{
    background-color: rgba(0,0,0,0.6);
}

.stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

:root{
    color: #d5e0e7;
}

.bot-command-container{
    color: white;
}

.category-name{
    font-weight: bold;
    color: #eff777;
}

.category-description{
    font-style: italic;
    font-weight: lighter;
}

.command-name, .var-example{
    color: #77b5f7;
    font-weight: bold;
}

.command-description{
    font-weight: lighter;
}

.nav-item.stats{
    background-color: silver;
}

.required-name, .var-name{
    font-weight: bold;
    color: #e36927;
}

.optional-name{
    font-weight: lighter;
    font-style: italic;
    color: #37eafa;
}

.description-row{
    margin-bottom: 0px !important;
}

.param-list-name{
    flex: 1 0 auto;
    align-items: stretch;
}

.optional-description{
    flex: 0 1 auto;
    font-style: italic;
    font-weight: lighter;
}

.columnLabel{
    width: 90% !important;
}

.columnCount{
    width: 10% !important;
}

.faction-card, .race-card{
    background-color: rgba(166,166,166,1);
    color: black;
    max-width: 18rem;
    min-width: 18rem;
    border-radius: 10px;
    box-shadow: 0 3px 6px
    rgba(0,0,0,0.16), 0 3px 6px
    rgba(0,0,0,0.23);
}

.faction-card:hover{
    box-shadow: 0 12px 24px rgba(0,0,0,0.16), 0 12px 24px rgba(0,0,0,0.23);
}

.card-title{
    word-wrap: break-word;
}

.dataTables_wrapper{
    color: white !important;
}

.dataTables_filter{
    color: white !important;
}

.item-table, .parent-table, .child-table, .issue-table, .player-table, .log-table{
    cursor: pointer;
}

.bigtext{
    height: calc(3.5rem + 500px) !important;
}

/* Chromatic Chronicle CSS below */
.priority-card, .article-card{
    background-color: rgba(166,166,166,1);
    color: black;
    border-radius: 10px;
    box-shadow: 0 3px 6px
    rgba(0,0,0,0.16), 0 3px 6px
    rgba(0,0,0,0.23);
}

.priority-card:hover, .article-card:hover{
    box-shadow: 0 12px 24px rgba(0,0,0,0.16), 0 12px 24px rgba(0,0,0,0.23);
}

.article-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
}

.article-edit-body{
    height: 500px !important;
}
