{% extends "template.html" %} {% block body %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<h1>Figures below reflect test data, and not live server stats</h1>

<div id="race_chart" class="chart">
    <script nonce="{{ csp_nonce() }}" type='text/javascript'>
      var graphs = {{race_graph | safe}};
      Plotly.plot('race_chart',graphs,{});
    </script>
</div>

<div id="class_chart" class="chart">
    <script nonce="{{ csp_nonce() }}" type='text/javascript'>
      var graphs = {{class_graph | safe}};
      Plotly.plot('class_chart',graphs,{});
    </script>
</div>

{% endblock %}