{% extends "template.html" %} {% block body %}
<h1 class="command-header">ProphetBot Commands - In Progress</h1>
<div class="command-overview border border-info rounded m-2">
    <div class="d-flex flex-column">
        <div class="p-2 text-white">Format:
            <div class="d-inline command-name">/command_name</div>
            <div class="d-inline pt-2 pl-0 pr-0 pb-0 required-name">&lt;required_parameter&gt;</div>
            <div class="d-inline pt-2 pl-0 pr-0 pb-0 optional-name">&lt;optional_parameter&gt;</div>
        </div>
        <div class="p-2 description">
            <div class=" d-inline param-list-name text-white">-optional_parameter:</div>
            <div class="d-inline optional-description text-white">Parameter Description</div>
        </div>
    </div>
</div>

<div class="bot-command-container m-1">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle category-toggle m-2" type="button" data-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton">Categories</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {% for category in commands %}
            <a class="dropdown-item" href="#{{category.name}}">{{category.name}}</a>
            {% endfor %}
        </div>
    </div>


    {% for category in commands %}
    <div class="category-container border border-primary rounded m-2 p-0" id="{{category.name}}">
        <ul class="h3 mb-1 pl-2 category-name">{{category.name}}</ul>

        {% if category.description != "" %}
        <ul class="category-description pl-3">{{category.description}}</ul>
        {% endif %}

        {% for command in category.commands %}
        <div class="command-container m-1 border border-info rounded">
                <ul class="d-inline-flex flex-row flex-wrap command-group pl-1">
                    <div class="pt-2 pl-2 pb-0 pr-1  command-name">/{{command.name}}</div>

                    {% for param in command.required %}
                    <div class="pt-2 pl-1 pr-0 pb-0 required-name">&lt;{{param.name}}&gt;</div>
                    {% endfor %}

                    {% for param in command.optional %}
                    <div class="pt-2 pl-1 pr-0 pb-0 optional-name">&lt;{{param.name}}&gt;</div>
                    {% endfor %}
                </ul>
            <ul class="d-flex flex-row pl-4 command-description">{{command.description}}</ul>

            {% for param in command.optional %}
            {% if param.description[0] != "" and param.description[0] != null %}
            <ul class="d-inline-flex w-100 align-items-start flex-nowrap flex-row description-row">
                <div class="justify-content-start mr-auto p-2 param-list-name">-{{param.name}}:</div>
                <div class="align-self-center pl-1 pt-2 pb-2 pr-2 optional-description w-100">
                    {% for line in param.description %}
                        {{line}}
                    {% endfor %}
                </div>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock %}