{% extends "template.html" %} {% block body %}
{% if role != blank%}
<h1 class="command-header">ProphetBot Commands - {{role}}</h1>
{% else %}
<h1 class="command-header">ProphetBot Commands</h1>
{% endif %}

<div class="command-overview border border-primary rounded m-2">
    <div class="d-flex flex-column">
        <div class="p-2 text-white">Format:
            <div class="d-inline command-name">/command_name</div>
            <div class="d-inline pt-2 ps-0 pe-0 pb-0 required-name">&lt;required_parameter&gt;</div>
            <div class="d-inline pt-2 ps-0 pe-0 pb-0 optional-name">&lt;optional_parameter&gt;</div>
        </div>
        <div class="p-2 description">
            <div class=" d-inline param-list-name text-white">-optional_parameter:</div>
            <div class="d-inline optional-description text-white">Parameter Description</div>
        </div>
    </div>
</div>

<div class="bot-command-container m-1">
    <div class="container-fluid">
        <div class="dropdown d-inline">
            <button class="btn btn-secondary dropdown-toggle m-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</button>
            <ul class="dropdown-menu">
                {% for category in commands %}
                <a class="dropdown-item" href="#{{category.name}}">{{category.name}}</a>
                {% endfor %}
            </ul>
        </div>

        <div class="dropdown d-inline">
            <button class="btn btn-secondary dropdown-toggle m-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">Roles</button>
            <ul class="dropdown-menu">
                <a class="dropdown-item" href="/commands/Player">Player</a>
                <a class="dropdown-item" href="/commands/DM">DM</a>
                <a class="dropdown-item" href="/commands/Magewright">Magewright/Mod</a>
                <a class="dropdown-item" href="/commands/Council">Council</a>
                <a class="dropdown-item" href="/commands">All Commands</a>
            </ul>
        </div>
    </div>

    {% for category in commands %}
    <div class="category-container border border-primary rounded m-2 p-0" id="{{category.name}}">
        <ul class="h3 mb-1 ps-2 category-name">{{category.name}}</ul>

        {% if category.description != "" %}
        <ul class="category-description ps-3">{{category.description | safe}}</ul>
        {% endif %}

        {% for command in category.commands %}
        <div class="command-container m-1 border border-info rounded">
                <ul class="d-inline-flex flex-row flex-wrap command-group ps-1">
                    <div class="pt-2 ps-2 pb-0 pe-1  command-name">/{{command.name}}</div>
                    {% if command.required != blank %}
                    {% for param in command.required %}
                    <div class="pt-2 ps-1 pe-0 pb-0 required-name">&lt;{{param.name}}&gt;</div>
                    {% endfor %}
                    {% endif %}

                    {% if command.optional != blank %}
                    {% for param in command.optional %}
                    <div class="pt-2 ps-1 pe-0 pb-0 optional-name">&lt;{{param.name}}&gt;</div>
                    {% endfor %}
                    {% endif %}
                </ul>
            <ul class="d-flex flex-row ps-4 command-description">{{command.description}}</ul>

            {% for param in command.optional %}
            {% if param.description != blank %}
            <ul class="d-inline-flex w-100 mb-0 pb-0 align-items-start flex-nowrap flex-row description-row">
                <div class="justify-content-start me-auto ps-2 pe-2 pb-0 pt-0 param-list-name">-{{param.name}}:</div>
                <div class="align-self-center ps-1 pt-0 pb-0 pe-2 optional-description w-100">
                    {{ param.description }}
                </div>
            </ul>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}