{% extends "template.html" %} {% block body %}

<div class="card-group mb-1 p-10">
    <div class="card rounded p-1 m-3 bg-secondary bg-gradient text-center">
        <img src="{{ url_for('static', filename='images/ProfilePics/TheEmeraldOtter.jpg') }}">
        <div class="card-body">
            <div class="card-title fs-2">The Emerald Otter (Alviro)</div>
            <div class="card-text mb-3">Credit: Images and resources</div>
            <a class="btn btn-primary m-3" href="https://theemeraldotter.tumblr.com/" role="button">
                <i class="fab fa-tumblr fa-lg"></i> Tumblr
            </a>
        </div>
    </div>

    <div class="card rounded p-1 m-3 bg-secondary bg-gradient text-center">
        <img src="{{ url_for('static', filename='images/ProfilePics/Corvux.png') }}">
        <div class="card-body">
            <div class="card-title fs-2">Corvux (Dantalion)</div>
            <div class="card-text mb-3">Credit: Bot and Website Coding</div>
            <a class="btn btn-primary m-3" href="https://github.com/Corvux89" role="button" target="_blank">
                <i class="fab fa-github fa-lg"></i> Github
            </a>
        </div>
    </div>

    <div class="card rounded p-1 m-3 bg-secondary bg-gradient text-center">
        <div class="card-body">
            <div class="card-title fs-2">Alesha (Dew)</div>
            <div class="card-text mb-3">Credit: Bot Coding</div>
            <a class="btn btn-primary m-3" href="#" role="button">
                <i class="fab fa-github fa-lg"></i> Github
            </a>
        </div>
    </div>

</div>

{% endblock %}