{% extends "template.html" %} {% block body %}

{% if faction == None or faction == "" %}
<p>Faction not found</p>
{% else %}
<div class="container-fluid m-2">
    <div class="banner p-2">
        <div class="icon">
            <h1 class="fs-1">{{faction.name}} {{faction.icon}}</h1>
        </div>
    </div>
    {% if faction.url == blank %}
    <div class="ratio ratio-1x1">
        <iframe src="{{faction.url}}?embedded=true" allowtransparency="true"></iframe>
    </div>
    {% endif %}
</div>

{% endif %}
{% endblock %}