{% extends "template.html" %} {% block body %}
<div class="container-fluid m-2 w-100">
    <h1>The Prismatic Guild</h1>
<p>The Prismatic Guild is a multi-national group of adventurers independent of any country and often works with the Tribunal of Thronehold. The Prismatic Guild&rsquo;s purpose is to prevent the Last War from breaking out again, to hold the fragile peace that has been established, and to let it grow and flourish.</p>
<p><strong>Guild Recruiter: Auriel</strong></p>
<h2><strong>The Azure Guardians🛡️&nbsp;</strong></h2>
<p>When trouble calls, The Azure Guardians is ready to protect those in need. The weak or the strong, the babe in the woods or the elder in the street, everyone can count on the Azure in a beat.&nbsp;</p>
<p><strong>Captain: Plackart</strong></p>
<h2><strong>Order of the Copper Dragon🐉&nbsp;</strong></h2>
<p>In pursuit of that endless quest of knowledge and wisdom, the Copper Dragon sifts and digs through tombs, books, and more. Ever searching, digging and trying to find the answers, but knowing that with one answer, a dozen more questions will unfold.</p>
<p><strong>Captain: Rozalin</strong></p>
<h2><strong>Silent Whispers🥷</strong></h2>
<p>Thieves in the night, smugglers on the move. Who do you go to when you need information on someone or goods on the sly. The ones doing jobs silently like a whisper in the night.</p>
<p><strong>Captain: Higs &amp; Co.</strong></p>
<h2><strong>Crimson Blades🗡️&nbsp;</strong></h2>
<p>A vainglorious, unrefined brotherhood of mercenaries. They live life as they see fit, and take on work others would turn their noses up at. If the coin is right, anything is possible.</p>
<p><strong>Captain: Hjalrom Droranath</strong></p>
<h2><strong>Silver Wolves🐺&nbsp;</strong></h2>
<p>Taking the front, up in the lead, seeking and searching, ever exploring for what is up ahead. The silent footstep of the wolf, always sniffing out danger in the world up ahead, ready to bring back the warning, or the details of what is found.&nbsp;</p>
<p><strong>Captain: Dantalion</strong></p>
<h2><strong>Clover Conclave🍀&nbsp;</strong></h2>
<p>We speak for the trees, for the plants, for the animals and nature itself. For the trees have no tongues, nor do the plants or nature itself. The animals may speak, but their words are unknown, so we speak for them too. We speak for them all.&nbsp;</p>
<p><strong>Captain: Eowyn</strong></p>
<h2><strong>Sunstone Lotus🌸&nbsp;</strong></h2>
<p>We seek to encourage others to freely express themselves through art. Whether it&rsquo;s singing, dancing, acting, painting, writing, magic, or other types of art and creating, the Lotus aim to make it available for anyone who wishes to unfold themselves in any creative areas.</p>
<p><strong>Captain: Allira</strong></p>
<h2><strong>The Falcon Eyes🦅&nbsp;</strong></h2>
<p>Cunning and clever, the eyes that see all. Intelligent and detail oriented, ready to solve the cases that baffle those on the watch. Both high and low come to the Falcon Eyes to find the unfindable and to solve the unsolvable. When a case gets too hard, only the Falcon Eyes will do.</p>
<p><strong>Captain: Ja&rsquo;Kala</strong></p>
<p><br /><br /></p>

</div> <!-- Container -->
{% endblock %}