{% extends "template.html" %} {% block body %}

<div class="container p-2">
    <h1 class="m-2">{{guild.title}}</h1>
    <p>{{guild.description}}</p>
    <p class="fw-bold">Guild Recruiter: {{guild.recruiter}}</p>

    <div class="row w-100 row-cols-1 row-cols-xxl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-lg-3 g-2">
        {% for faction in guild.faction %}
        <div class="col">
            <div class="card rounded-4 h-100 mx-auto">
                <h4 class="card-header text-center fs-1">{{faction.icon}}</h4>
                <div class="card-body">
                    <h5 class="card-title text-center fs-4 pb-3 text-black">{{faction.name}}</h5>
                    <p class="card-text text-black m-2">{{faction.description}}</p>
                </div>
                <p class="card-footer fw-bold text-center text-black">Captain: {{faction.captain}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}