{% extends "template.html" %} {% block body %}


<div class="container-fluid mt-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for ('auth.login', next=request.args['next']) }}">
        <div class="col-sm-3">
            <input type="text" class="form-control" name="username" id="username" placeholder="username">
        </div>
        <br>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="pw" name="pw" placeholder="password">
        </div>
        <br>

        <div class="col-sm-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock %}