{% extends "template.html" %} {% block body %}
<div class="container-fluid m-2">

<h1>Introduction</h1>
<p>Welcome to our community! Here we have a group of incredible people that came together just to play Dungeons and Dragons. Many of our members have incredible writing skills and bring real life to their characters. In fact, one of our principles is having a lasting connection with a single character. Here you&rsquo;ll be able to create your character and play them throughout the world in various ways, but it will always just be that character. Unless they meet an untimely end of course 😉</p>
<p>With these lasting characters, you&rsquo;re able to form real bonds with other characters played by other real people. The end result is remarkable. The interactions and activities that you participate in aid towards building a character identity that expands the world beyond just the numbers and mechanics. We hope that you enjoy your time exploring the World of Eberron with us!</p>
<h1>Format</h1>
<p>We operate differently than some of the other West-Marches style servers out there, but the overall feel is similar. Here, you won&rsquo;t be part of a dedicated group, and you will go out and experience the world with different characters for different activities. Below are some of the major points regarding how this server operates.</p>
<ul>
<li> Playing Dungeons and Dragons 5e</li>
</ul>
<ul>
<li> Characters can exist asynchronously throughout the world. This means that you can be fighting in an Arena and roleplaying a brilliant debate with a lord at the same time. It also means that you can join multiple quests at the same time with the same character.</li>
</ul>
<ul>
<li> You only get one character at a time. Alts or multiple characters are strictly off-limits.</li>
</ul>
<ul>
<li> The world thrives on a player-driven economy. As the world continues to grow, players can open up various Shops, Stores, and Taverns for their characters to run and operate. This includes a unique establishment system that will even allow for selling magic items.</li>
</ul>
<ul>
<li> Since we are asynchronous, the time-line isn&rsquo;t really a factor. The only thing that can advance the time-line is a significant Global Event.</li>
</ul>
<ul>
<li> You will be able to participate in Global Events that are open up to everyone in the server simultaneously. These usually span for 2 weeks and a new global starts about 2 weeks after the end of the previous global.</li>
</ul>
<ul>
<li> Transportation is instant. In Eberron there are magically suspended trains and airships throughout the world. Describe your journeys however suits your character, but know that it doesn&rsquo;t take any significant measure of time to get somewhere. So get out there and explore!</li>
</ul>
<ul>
<li> This is a PbP server first and foremost. As such, we encourage players to take their time with their posts and expound on their characters&rsquo; emotions, expressions, and thought processes. It&rsquo;s not a race to get as many short posts as possible.</li>
</ul>
<ul>
<li> To provide a good standard of communication, we expect conventions of spelling and grammar to be followed.</li>
</ul>


    <h1>Introduction Levels</h1>
<p>Levels 1 and 2 are an introductory phase. Often on a new server, it's hard to know how to get started, but with this objective based leveling, you should have clear guidance. Opposed to having plot armor for your characters, you are required to complete some objectives that cannot result in permadeath. Progressing through these levels only requires that you complete the objective listed below, therefore it's much more akin to <strong>Milestone</strong> than <strong>Experience</strong>. All of the objectives will be based on <strong>Diversions</strong>, which you will learn about in their respective categories. This gives you a chance to get out and begin meeting some of the other members, and for those members to get to know you. It'll help you figure out which Diversions you like, if any, and best of all, it's likely to get you to level 3 within a short amount of time.</p>
<p>Before getting started with the quests below, you will <strong>need</strong> to read all of the content in Diversions and Arena-Guide. Be sure to be thorough and read everything.</p>
<h2><strong>Level 1 Quest</strong></h2>
<p>□ Complete 1 RP Session (Maybe RP your arrival to Throneport, or introduce your character in a tavern or shop. Can be solo or Co-Op)</p>
<p>□ Complete 1 Arena Phase (Join up with others or a couple of friendly NPC's to take on monsters in the arena)</p>
<h2><strong>Level 2 Quest</strong></h2>
<p>□ Complete 2 RP Sessions (Flesh out your character in the world and with new friends. If you are gaining a SubClass at level 3, consider that for a Solo RP Basis)</p>
<p>□ Complete 2 Arena Phases</p>
<p>Note: These Diversions often require other player&rsquo;s participation. If you're new and there are no other players of your level, we will have friendly and helpful NPC's available to assist you on your quest 🙂</p>
<h1>Full-Fledged</h1>
<p>Upon completing the Level 2 Quest and advancing to level 3, you will be granted the <strong>@Guild Member</strong> role. Now the rest of the content will be fully open to you. You'll now be on the prowl, or maybe being prowled, to sign a contract with one of our Factions. This also makes you eligible to apply for any available or future Adventures that are posted. If you've still got questions, we're here for you! Ask around and someone will get you an answer ASAP. If no one is available, you can tag The <strong>@Counci</strong>l if the issue is a pressing one. Good luck on your future adventures!</p>
<p><br /><br /></p>


</div> <!-- Container -->
{% endblock %}