{% extends "template.html" %} {% block body %}

<h1 class="stats_header">Broken Prophecy 2.0 Server Statistics</h1>
<p>Don't judge me...working on it....</p>

<div class="stats-container m-2">
    <a class="btn btn-primary stats_button" data-toggle="collapse" href="#raceCollapse" role="button">Races</a>
    <a class="btn btn-primary stats_button" data-toggle="collapse" href="#classCollapse" role="button">Classes</a>

    <div class="collapse" id="raceCollapse">
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle category-toggle mb-2" type="button" data-toggle="dropdown" aria-expanded="false" id="raceDropdown">Goto Race</button>
            <div class="dropdown-menu" aria-labelledby="raceDropdown">
                {% for race in race_data['races'] %}
                <a class="dropdown-item" href="#{{race.name}}">{{race.name}}</a>
                {% endfor %}
            </div>

             <button class="btn btn-light mb-2" href="#subCollapse"  id="subraceCollapse" button">Expand/Collapse all</button>
        </div>
        <table class="table table-dark table-condensed mb-0">
            <thead>
                <tr>
                    <th class="total-row" scope="col">Total Players</th>
                    <th class="total-amount" scope="col">{{race_data['total']}}</th>
                </tr>
                <tr>
                    <th scope="col">Race</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                {% for race in race_data['races'] %}
                    <tr data-toggle="collapse" data-target="#{{race.name}}collapse" class="accordion-toggle" id="{{race.name}}">
                        <td><button class="btn btn-link btn-xs"><span class="race-name text-white">{{race.name}}</span></button></td>
                        <td>{{race.count}}</td>
                    </tr>
                    {% if race['subraces'][0] != null %}
                        <tr>
                            <td colspan="3" class="hiddenRow p-0">
                                <div class="accordion-body collapse show subrace-collapse" id="{{race.name}}collapse">
                                    <table class="table table-info mb-0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">Subrace</th>
                                            <th scope="col">#</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for subrace in race['subraces'] %}
                                        <tr>
                                            <td></td>
                                            <td>{{subrace.name}}</td>
                                            <td>{{subrace.count}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="collapse" id="classCollapse">
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle category-toggle mb-2" type="button" data-toggle="dropdown" aria-expanded="false" id="classDropdown">Goto Class</button>
            <div class="dropdown-menu" aria-labelledby="classDropdown">
                {% for class in class_data['classes'] %}
                <a class="dropdown-item" href="#{{class.name}}">{{class.name}}</a>
                {% endfor %}
            </div>

             <button class="btn btn-light mb-2" href="#subclassCollapse"  id="subclassCollapse" button">Expand/Collapse all</button>
        </div>
        <table class="table table-dark table-condensed mb-0">
            <thead>
                <tr>
                    <th scope="col">Class</th>
                    <th scope="col">#</th>
                </tr>
            </thead>
            <tbody>
                {% for class in class_data['classes'] %}
                    <tr data-toggle="collapse" data-target="#{{class.name}}collapse" class="accordion-toggle" id="{{class.name}}">
                        <td><button class="btn btn-link btn-xs"><span class="class-name text-white">{{class.name}}</span></button></td>
                        <td>{{class.count}}</td>
                    </tr>
                    {% if class['subclasses'][0] != null %}
                        <tr>
                            <td colspan="3" class="hiddenRow p-0">
                                <div class="accordion-body collapse show subclass-collapse" id="{{class.name}}collapse">
                                    <table class="table table-info mb-0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th scope="col">Subclass</th>
                                            <th scope="col">#</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for subclass in class['subclasses'] %}
                                        <tr>
                                            <td></td>
                                            <td>{{subclass.name}}</td>
                                            <td>{{subclass.count}}</td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script nonce="{{ csp_nonce() }}">
    //Race collapse
    $('#raceCollapse').on('show.bs.collapse', function(){
        $('#classCollapse').collapse('hide');
    })

    //Class collapse
    $('#classCollapse').on('show.bs.collapse', function(){
        $('#raceCollapse').collapse('hide');
    })

    //Expand or collapse
    $('#subraceCollapse').click(function(){
        if ($(this).data("closedAll")) {
            $(".subrace-collapse").collapse("show");
        }
        else {
            $(".subrace-collapse").collapse("hide");
        }

        // save last state
        $(this).data("closedAll",!$(this).data("closedAll"));
    });

   //Expand or collapse
    $('#subclassCollapse').click(function(){
        if ($(this).data("closedAll")) {
            $(".subclass-collapse").collapse("show");
        }
        else {
            $(".subclass-collapse").collapse("hide");
        }

        // save last state
        $(this).data("closedAll",!$(this).data("closedAll"));
    });
</script>

{% endblock %}