{% extends "template.html" %} {% block body %}

<div class="container">
    <header class="issue-header py-3">
        <div class="row">
            <div class="col-sm">
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle m-2" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">{{drop_string}}
                    </button>
                    <ul class="dropdown-menu">
                        {% for other in others %}
                        <a class="dropdown-item" href="{{ url_for('chronicle.display_issue', issue=other.id) }}">{{other.name}}</a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm">
                <h1>{{issue.name}}</h1>
                {% if issue.game_date != "" %}
                <h6 class="text-center fw-lighter text-white">{{issue.game_date}}</h6>
                {% endif %}
            </div>
        </div>
    </header>

    <main class="container">
        {% for article in articles %}
        {% if "global" in article.categories %}
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
            <div class="col-md px-0">
                <h1 class="display-4 fst-italic global-title">{{article.title}}</h1>
                <p class="lead my-3">{{article.preview | safe}}</p>
                <p class="lead mb-0">
                    <a href="{{ url_for('chronicle.display_article', issue=issue.id, article=article.id) }}" class="article-link text-white fw-bold">Continue reading...</a>
                </p>
            </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="row mb-3">
            {% for article in articles %}
            {% if "global" not in article.categories %}
            <div class="col-md-6">
                <div class="row g-0 rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative article-card text-bg-dark">
                    <div class="col p-4 d-flex flex-column position-static">
                        {% if article.category_string %}
                        <strong class="d-inline-block mb-2 text-primary">{{article.category_string}}</strong>
                        {% endif %}
                        <h3 class="mb-0">{{article.title}}</h3>
                        <p class="card-text mb-auto">{{article.preview | safe}}</p>
                        <a href="{{ url_for('chronicle.display_article', issue=issue.id, article=article.id) }}" class="article-link stretched-link">Continue reading</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </main>
</div>

{% endblock %}