{% extends "template.html" %} {% block body %}

<script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>

<script nonce="{{ csp_nonce() }}">
tinymce.init({
  selector: 'textarea#body',
  plugins: 'lists link anchor charmap code fullscreen',
  toolbar: 'blocks | bold italic bullist numlist | link image charmap code | fullscreen',
  menubar: false,
  setup: (editor) => {
    editor.on('init', () => {
      editor.getContainer().style.transition='border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out';
    });
    editor.on('focus', () => {
      editor.getContainer().style.boxShadow='0 0 0 .2rem rgba(0, 123, 255, .25)';
      editor.getContainer().style.borderColor='#80bdff';
    });
    editor.on('blur', () => {
      editor.getContainer().style.boxShadow='';
      editor.getContainer().style.borderColor='';
    });
     editor.on('change', function(){
        tinymce.triggerSave();
    });
  }
});


</script>

{% if article == None %}
<h1 class="m-2">Article not found</h1>
<a href="/admin/items" class="btn btn-primary m-2" role="button">Back to issue</a>
{% else %}
<h1 class="m-2">{{article.title}}</h1>

<div class="container-fluid mt-3">
    <form action="{{ url_for('chronicle.edit_article', issue=issue, article=article.id) }}" method="post">
        <div class="row mb-3">
            <div class="col-auto">
                <a href="{{url_for('chronicle.edit_issue', issue=issue) }}" class="btn btn-secondary" role="button">Back
                    to Issue</a>
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <div class="col-auto">
                <a href="" class="btn btn-danger" data-bs-target="#modalDelForm" data-bs-toggle="modal">Delete
                    Article</a>
            </div>

            <div class="col-auto">
                {% if article.approved == False %}
                <a href="{{url_for('chronicle.approve_article',issue=issue, article=article.id, approve=True) }}"
                   class="btn btn-success">Approve</a>
                {% else %}
                <a href="{{url_for('chronicle.approve_article',issue=issue, article=article.id, approve=False) }}"
                   class="btn btn-warning">Retract Article</a>
                {% endif %}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm">
                <div class="form-floating">
                    <input type="text" class="form-control" id="title" name="title" value="{{article.title}}" required>
                    <label for="title">Title</label>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm">
                <div class="form-floating">
                    <input type="number" id="issue" class="form-control" placeholder="Issue" required name="issue"
                           min="0" max="{{issue_max}}" value={{article.issue}}>
                    <label for="issue">Issue</label>
                </div>
            </div>

            <div class="col-sm">
                <div class="form-floating">
                    <input type="number" id="priority" class="form-control" placeholder="Priority" name="priority"
                           required min="0" max="10" value="{{article.priority}}">
                    <label for="priority">Priority</label>
                </div>
            </div>

            <div class="col-9">
                <div class="form-floating">
                    <input type="text" id="players" class="form-control" id="player" name="players"
                           value="{{article.players}}">
                    <label for="player">Players</label>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-auto text-white">Factions:</div>
            {% for faction in factions %}
            <div class="col-4">
                <div class="form-check form-check-inline">
                    {% if faction.id in article.factions %}
                    <input class="form-check-input" type="checkbox" id="{{faction.value}}" name=faction-{{faction.id}}"
                           value="{{faction.id}}" checked>
                    {% else %}
                    <input class="form-check-input" type="checkbox" id="{{faction.value}}" name=faction-{{faction.id}}"
                           value="{{faction.id}}">
                    {% endif %}
                    <label class="form-check-label text-white" for="{{faction.value}}">{{faction.value}}</label>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row mb-3">
            <div class="col-sm">
                <label for="authors" class="form-label text-white">Authors</label>
                <select class="form-select" size="3" multiple aria-label="authors" id="authors" name="authors" required>
                    {% for author in authors %}
                    {% if author.id in article.authors %}
                    <option value={{author.id}} selected>{{author.name}}</option>
                    {% else %}
                    <option value={{author.id}}>{{author.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm">
                <label for="categories" class="form-label text-white">Categories</label>
                <select class="form-select" size="3" multiple aria-label="categories" id="categories" name="categories">
                    {% for category in categories%}
                    {% if category.name in article.categories %}
                    <option value="{{category.name}}" selected>{{category.name}}</option>
                    {% else %}
                    <option value="{{category.name}}">{{category.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm">
                <textarea id="body" name="body" class="article-edit-body form-control" placeholder="Article Text"
                          required>{{article.body}}</textarea>
            </div>
        </div>
    </form>
</div>

<form method="post" action="{{ url_for('chronicle.delete_article', article=article.id) }}">
    <div class="modal fade" id="modalDelForm" tabindex="-1" aria-labelledby="modalDelFormLAbel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold text-black" id="modalLabel">Confirm Deletion?</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}