{% extends "template.html" %} {% block body %}

<ul class="nav nav-tabs m-2" id="statTab" role="tablist">
    <li class="nav-item stats" role="presentation">
        <button class="nav-link active" id="race-tab" data-bs-toggle="tab" data-bs-target="#race" type="button" role="tab" aria-controls="race" aria-selected="true">Races/Subraces</button>
    </li>

    <li class="nav-item stats" role="presentation">
        <button class="nav-link" id="class-tab" data-bs-toggle="tab" data-bs-target="#class" type="button" role="tab" aria-controls="class" aria-selected="false">Classes/Subclasses</button>
    </li>
</ul>

<div class="tab-content m-2" id="statTabContent">
    <!-- Race Tab -->
    <div class="tab-pane fade show active" id="race" role="tabpanel" aria-labelledby="race-tab" tabindex="0">
        <p class="text-white">* - Denotes an expandable/collapsible subrace table</p>
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mb-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">Goto Race</button>
            <ul class="dropdown-menu" id="race-dropdown"></ul>

             <button class="btn btn-light mb-2" id="subraceCollapse">Expand/Collapse all</button>
        </div>
        <table class="table table-dark table-condensed mb-0">
            <thead>
                <tr class="table-active">
                    <th class="total-row" scope="col">Total Players</th>
                    <th class="total-amount" id="total-players" scope="col"></th>
                </tr>
                <tr>
                    <th scope="col" class="columnLabel">Race</th>
                    <th scope="col" class="columnCount">#</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="race-table-body"></tbody>
        </table>
    </div>

    <!--Class Tab -->
    <div class="tab-pane fade" id="class" role="tabpanel" aria-labelledby="class-tab" tabindex="0">
        <p class="text-white">* - Denotes an expandable/collapsible subclass table</p>
         <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle mb-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">Goto Class</button>
            <ul class="dropdown-menu" id="class-dropdown"></ul>

             <button class="btn btn-light mb-2" id="subclassCollapse">Expand/Collapse all</button>
        </div>
        <table class="table table-dark table-condensed mb-0">
            <thead>
                <tr>
                    <th scope="col" class="columnLabel">Class</th>
                    <th scope="col" class="columnCount">#</th>
                </tr>
            </thead>
            <tbody class="table-group-divider" id="class-table-body"></tbody>
        </table>
    </div>

</div> <!--Stat Tab Content Container -->

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='src/stats/main.js') }}" type="module"></script>

{% endblock %}