{% extends "template.html" %} {% block body %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

<div class="container-fluid m-2">
    <h1 class="m-2">Active Characters</h1>

    <table class="table table-striped table-dark table-condensed table-hover mb-0 player-table" id="player-table"></table>
</div>

<script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='src/characters/main.js') }}" type="module"></script>
{% endblock %}